@use 'variaveis';

.shows {
    padding: 2vw 5.6vw; //no topo e lateral
    min-height: 50vw;

    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;//deixa lado a lado as ftos
        gap:24px;//faz dar espaço entre as fotos

        @media (max-width:768px) {//pra celular ter 2 img
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        @media(max-width:768px) {
            white-space: nowrap;//fazendo os elemtnos ficarem todos em uma lina msm q n caiba no container esse comando força eles a ficarem no container
            overflow-x: scroll;
            padding-left: 20px;
        
        }

        &__button{
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;//estamos usando a cascata do css pois esta none antes e dps no fundo vai ter uma cor
            padding-bottom: 5px;
            background: none;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active{//para reconhcer qual item ta ativo
                border-color: variaveis.$corTextoSecundario;
            }

            @media(max-width:768px) {
                font-size: 16px;
            }
        }
    }

}